.koeretimen{
    overflow: hidden;
}

.baggrund {
    background-image: url("baggrund-01.svg");
    background-size: cover;
    width: 100vw;
    height: 50vw;
    margin: auto;
    z-index: 1;
    position: relative;
}

/*
@keyframe baggrund {
    0% {
        transform: translateX(-100%) scale(4);
    }
    50%{
        transform: translateX(0) scale(4);
    }
    100%{
        transform: translateX(0) scale(4);
    }
}
*/

.blaabil {
    background-image: url("bl%C3%A5bil.svg");
    background-size: cover;
    background size: 100%;
    width: 15vw;
    height: 8.3vw;

    position: absolute;
    top: 25vw;
    left: 65vw;
    z-index: 2;

    animation-name: blaabil;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

}

@keyframes blaabil {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

.koerelaerer {
    background-image: url("k%C3%B8rel%C3%A6rer-01.svg");
    background-size: cover;
    width: 6vw;
    height: 10vw;

    position: absolute;
    top: 25vw;
    left: 90vw;
    z-index: 3;
}

.koereelev {
    background-image: url("k%C3%B8reelev-01.svg");
    background-size: cover;
    width: 8vw;
    height: 10vw;
    transform: scaleX(-1);

    position: absolute;
    top: 25vw;
    left: 80vw;
    z-index: 4;
}

/*titel-billede*/

.start_koeretime {
    background-color: #C93131;
    display: flex;
    flex-basis: wrap;
    width: 100%;

}

.start {

    display: inline-block;
    text-decoration: none;
    font-family: Futura, sans-serif;
    /*    background-color: blue;*/
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2em;
    border: 0.5em;
/*    opacity: 0.8;*/
    color: #681515;
    font-size: 4em;
    text-shadow: 1px 1px #992222, 2px 2px #992222, 3px 3px #992222, 4px 4px #992222, 5px 5px #992222, 6px 6px #992222, 7px 7px #992222, 8px 8px #992222, 9px 9px #992222, 10px 10px #992222, 11px 11px #992222, 12px 12px #992222, 13px 13px #992222, 14px 14px #992222, 15px 15px #992222, 16px 16px #992222, 17px 17px #992222, 18px 18px #992222, 19px 19px #992222, 20px 20px #992222, 21px 21px #992222, 22px 22px #992222, 23px 23px #992222, 24px 24px #992222, 25px 25px #992222, 26px 26px #992222, 27px 27px #992222;
}

.start:hover {
    color: #ffffff;
}

/*Animation_walkning (forholdstal 1,81*/

#man{
/*
    background-image: url("k%C3%B8rel%C3%A6rer-01.svg");
    background-size: cover;
    width: 6vw;
    height: 10vw;
*/

    position: absolute;
    top: 24vw;
    left: 90vw;
    z-index: 3;

    position: absolute;
    background-image: url(man-01.svg);
    width: 7.5vw;
    height: 13.575vw;
    background-size: 400% 100%;

    animation: move linear 4s infinite;

    border: solid red 5px;



}

@keyframes move {
    0%{
        left: 90vw;
        transform: scalex(1);
    }

    50%{ left: 9vw;
         transform: scalex(1);


    }

    51%{ left: 9vw;
         transform: scalex(-1);


    }

    100%{ left: 90vw;
         transform: scalex(-1);



    }

}



.walking{
    animation-name: walking;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;

}

@keyframes walking{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 400% 0;
    }
}





#boy{
    background-image: url("k%C3%B8reelev-01.svg");
    background-size: cover;
    width: 8vw;
    height: 10vw;
/*    transform: scaleX(-1);*/

    position: absolute;
    top: 24vw;
    left: 80vw;
    z-index: 4;

    position: absolute;
    background-image: url(boy02-01.svg);
    width: 7.5vw;
    height: 13.575vw;
    background-size: 400% 100%;
}

.walk{
    animation-name: walk;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes walk{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 400% 0;
    }
}

/*
#man_container{
    position: absolute;
}

.man_move_right{
    animation-name: man_move_right_kf;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#man_sprite{
    background-image: url(man-01.svg);
    width: 20vw;
    height: 28.57vw;
    background-size: 400%
}
.man_walkcycle{
    animation-name: man_walkcycle_kf;
    animation-duration: 1s;
    animation: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(4);
}
*/
