body{
    padding: 0;
    margin: 0;
}

.scene{
    overflow: hidden;
    background-image: url("baggrund-01.svg");
    background-size: 137% 100%;
    background-position: 40%;
    width: 100vw;
    height: 53vw;
    z-index: 1;
    position: relative;
}

#blaabil_container{
    position: absolute;
    top: 25vw;
    left: 65vw;
    z-index: 2;
}

#blaabil_sprite {
    background-image: url("bl%C3%A5bil.svg");
    background-size: cover;
    background size: 100%;
    width: 15vw;
    height: 8.3vw;

    animation-name: blaabil;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes blaabil {
    from {
        left: 40wv;
    }
    to {
        left: 2vw;
    }
}

/*titel-billede*/

.start_koeretime {
    background-color: #C93131;
    display: flex;
    flex-basis: wrap;
    width: 100%;
}

.start {
    display: inline-block;
    text-decoration: none;
    font-family: Futura, sans-serif;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2em;
    border: 0.5em;
    color: #681515;
    font-size: 4em;
    text-shadow: 1px 1px #992222, 2px 2px #992222, 3px 3px #992222, 4px 4px #992222, 5px 5px #992222, 6px 6px #992222, 7px 7px #992222, 8px 8px #992222, 9px 9px #992222, 10px 10px #992222, 11px 11px #992222, 12px 12px #992222, 13px 13px #992222, 14px 14px #992222, 15px 15px #992222, 16px 16px #992222, 17px 17px #992222, 18px 18px #992222, 19px 19px #992222, 20px 20px #992222, 21px 21px #992222, 22px 22px #992222, 23px 23px #992222, 24px 24px #992222, 25px 25px #992222, 26px 26px #992222, 27px 27px #992222;
}

.start:hover {
    color: #ffffff;
}

/*Animation_walkning (forholdstal 1,81*/
#man_container{
    position: absolute;
    top: 24vw;
    left: 90vw;
    z-index: 3;
}

#man_sprite{
    background-image: url(man-01.svg);
    width: 7.5vw;
    height: 13.575vw;
    background-size: 400% 100%;

    animation-name: walking;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes walking{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 400% 0;
    }
}

.moveing{
    animation-name: moveing;
    animation-direction: linear;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes moveing {
    0%{ left: 115vw;
        transform: scalex(1);
    }
    100%{ left: 90;
         transform: scalex(1);
    }
}


#boy_container{
    position: absolute;
    top: 24vw;
    left: 80vw;
    z-index: 4;
}

#boy_sprite{
    background-image: url(boy02-01.svg);
    width: 7.5vw;
    height: 13.575vw;
    background-size: 400% 100%;

    animation-name: walk;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes walk{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 400% 0;
    }
}

.move{
    animation-name: move;
    animation-direction: linear;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move {
    0%{ left: 105vw;
        transform: scalex(1);
    }
    100%{ left: 80vw;
         transform: scalex(1);
    }
}


#tekstboks_container{
    position: absolute;
    background-image: url(tekstboks-01.svg);
    z-index: 5;
    background-size: 100%;
<<<<<<< HEAD
    width:40vw;
    height: 20vw;
    left: 26vw;
    top: 11vw;
    padding: 2em;
=======
    width:50vw;
    height: 30vw;

}

.tekstboks_container_out{
    left: -55vw;
    top: 11vw;
}

.tekstboks_container_in{
    left: 26vw;
    top: 11vw;
}
>>>>>>> koeretime/master

.slide{
    animation-name: slide;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.vildustartekøretimen{
    font-family: Futura, sans-serif;

}

@keyframes slide{
    0%{
        left: -105vw;
        transform: scalex(1);
    }

    100%{
        left:26vw;
        transform: scalex(1);
    }
}

#knapja_container{
    position: absolute;
    background-image: url(knap-gr%C3%B8n-01.svg);
    z-index: 6;
    background-size: 100%;
<<<<<<< HEAD
    width: 6vw;
    height: 6vw;
    left: 35vw;
    top: 25vw;
    margin: auto;
    padding: 0.9em;
=======
    width: 10vw;
    height: 10vw;

}

.knapja_container_out{
    left: 105vw;
    top: 28vw;
}

.knapja_container_in{
    left: 40vw;
    top: 28vw;
}
>>>>>>> koeretime/master

.slide_ja{
    animation-name: slide_ja;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.ja{
    text-decoration: none;
    font-family: Futura, sans-serif;
    color: white;
    font-size: 1.5em;
}

@keyframes slide_ja{
    0%{
        left: 105vw;
        transform: scalex(1);
    }
    100%{
        left:40vw;
        transform: scalex(1);
    }
}

#knapnej_container{
    position: absolute;
    background-image: url(knap-r%C3%B8d-01.svg);
    z-index: 6;
    background-size: 100%;
<<<<<<< HEAD
    width: 6vw;
    height: 6vw;
    left: 55vw;
    top: 25vw;
    margin: auto;
    padding: 0.9em;

=======
    width: 10vw;
    height: 10vw;

}

.knapnej_container_out{
    left: 115vw;
    top: 28vw;
}

.knapnej_container_in{
    left: 50vw;
    top: 28vw;
}
>>>>>>> koeretime/master

.slide_nej{
    animation-name: slide_nej;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
<<<<<<< HEAD

.nej{
    text-decoration: none;
    font-family: Futura, sans-serif;
    color: white;
    font-size: 1.5em;
}

@keyframes slide_nej{
    0%{
        left: 120vw;
        transform: scalex(1);
    }
    100%{
        left:50vw;
=======
@keyframes slide_nej{
    0%{
        left: 115vw;
        transform: scalex(1);
    }
    100%{
        left: 50vw;
>>>>>>> koeretime/master
        transform: scalex(1);
    }
}
