body{
    padding: 0;
    margin: 0;
}

.scene{
    overflow: hidden;
    background-image: url("baggrund-01.svg");
    background-size: 137% 100%;
    background-position: 40%;
    width: 100vw;
    height: 53vw;
    z-index: 1;
    position: relative;
}

/*titel-billede*/

.start_koeretime {
    background-color: #C93131;
    display: flex;
    flex-basis: wrap;
    width: 100%;
}

.start {
    display: inline-block;
    text-decoration: none;
    font-family: Futura, sans-serif;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 2em;
    border: 0.5em;
    color: #681515;
    font-size: 4em;
    text-shadow: 1px 1px #992222, 2px 2px #992222, 3px 3px #992222, 4px 4px #992222, 5px 5px #992222, 6px 6px #992222, 7px 7px #992222, 8px 8px #992222, 9px 9px #992222, 10px 10px #992222, 11px 11px #992222, 12px 12px #992222, 13px 13px #992222, 14px 14px #992222, 15px 15px #992222, 16px 16px #992222, 17px 17px #992222, 18px 18px #992222, 19px 19px #992222, 20px 20px #992222, 21px 21px #992222, 22px 22px #992222, 23px 23px #992222, 24px 24px #992222, 25px 25px #992222, 26px 26px #992222, 27px 27px #992222;
}

.start:hover {
    color: #ffffff;
}

/*Animation_walkning (forholdstal 1,81*/
#man_container{
    position: absolute;
    top: 24vw;
    left: 90vw;
    z-index: 3;
}

#man_sprite{
    background-image: url(man-01.svg);
    width: 7.5vw;
    height: 13.575vw;
    background-size: 400% 100%;

    animation-name: walking;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes walking{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 400% 0;
    }
}

.moveing_in{
    animation-name: moveing_in;
    animation-direction: linear;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes moveing_in{
    0%{ left: 115vw;
        transform: scalex(1);
    }
    100%{ left: 90vw;
         transform: scalex(1);
    }
}

.moveing_tocar{
    animation-name: moveing_tocar;
    animation-direction: linear;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveing_tocar{
    0%{
        left: 90vw;
        transform: scalex(1);
    }
    100%{
        left: 73vw;
        transform: scalex(1);
    }
}

#boy_container{
    position: absolute;
    top: 24vw;
    left: 80vw;
    z-index: 4;
}

#boy_sprite{
    background-image: url(boy02-01.svg);
    width: 7.5vw;
    height: 13.575vw;
    background-size: 400% 100%;

    animation-name: walk;
    animation-duration: 1s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

@keyframes walk{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 400% 0;
    }
}

.move_in{
    animation-name: move_in;
    animation-direction: linear;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move_in{
    0%{ left: 105vw;
        transform: scalex(1);
    }
    100%{ left: 80vw;
         transform: scalex(1);
    }
}

.move_tocar{
    animation-name: move_tocar;
    animation-direction: linear;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move_tocar{
    0%{
        left: 80vw;
        transform: scalex(1);
    }
    100%{
        left: 66vw;
        transform: scalex(1);
    }
}



#tekstboks_container{
    position: absolute;
    background-image: url(tekstboks-01.svg);
    z-index: 5;
    background-size: 100%;
    width: 40vw;
    height: 20vw;
    margin: auto;
    padding: 2em;

}

.tekstboks_container_out{
    left: -55vw;
    top: 11vw;
}

.tekstboks_container_in{
    left: 26vw;
    top: 11vw;
}

.slide{
    animation-name: slide;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.vildustartekøretimen{
    font-family: Futura, sans-serif;

}

@keyframes slide{
    0%{
        left: -105vw;
        transform: scalex(1);
    }

    100%{
        left:26vw;
        transform: scalex(1);
    }
}

#knapja_container{
    position: absolute;
    background-image: url(knap-ja-01.svg);
    z-index: 6;
    background-size: 100%;
    width: 10vw;
    height: 10vw;

}

.knapja_container_out{
    left: 105vw;
    top: 28vw;
}

.knapja_container_in{
    left: 40vw;
    top: 28vw;
}


.slide_ja{
    animation-name: slide_ja;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide_ja{
    0%{
        left: 105vw;
        transform: scalex(1);
    }
    100%{
        left:40vw;
        transform: scalex(1);
    }
}

#knapnej_container{
    position: absolute;
    background-image: url(knap-nej-01.svg);
    z-index: 6;
    background-size: 100%;
    width: 10vw;
    height: 10vw;
}

.knapnej_container_out{
    left: 115vw;
    top: 28vw;
}

.knapnej_container_in{
    left: 50vw;
    top: 28vw;
}


.slide_nej{
    animation-name: slide_nej;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide_nej{
    0%{
        left: 120vw;
        transform: scalex(1);
    }
    100%{
        left:50vw;
        transform: scalex(1);
    }
}

@keyframes slide_nej{
    0%{
        left: 115vw;
        transform: scalex(1);
    }
    100%{
        left: 50vw;
        transform: scalex(1);
    }
 }

#youlose_container{
    position: absolute;
    background-image: url(youlose-01.svg);
    z-index: 7;
    background-size: 100%;
    width: 50vw;
    height: 50vw;
}

.youlose_container_out{
    left: -105vw;
    top: 1.5vw;
}

.youlose_container_in{
    left: 25vw;
    top: 1.5vw;
}

.slide_youlose{
    animation-name: slide_youlose;
    animation-direction: linear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide_youlose;
    0%{
        left: -105%;
        transform: scalex(1);
    }
    100%{
        left: 25vw;
        transform: scalex(1);
}

#tekstboks_container_02{
    position: absolute;
    background-image: url(tekstboks-01.svg);
    z-index: 5;
    background-size: 100%;
    width: 40vw;
    height: 20vw;
    margin: auto;
    padding: 2em;

}

.tekstboks_container_02_out{
    left: -55vw;
    top: 11vw;
}

.tekstboks_container_02_in{
    left: 26vw;
    top: 11vw;
}

.slide_02{
    animation-name: slide_02;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.hvilkeparkeringsformvildubenytte{
    font-family: Futura, sans-serif;

}

@keyframes slide_02{
    0%{
        left: -105vw;
        transform: scalex(1);
    }

    100%{
        left:26vw;
        transform: scalex(1);
    }
}

#forlaens_container{
    position: absolute;
    background-image: url(forl%C3%A6ns-01.svg);
    z-index: 10;
    background-size: 100%;
    width: 16vw;
    height: 8vw;
}

.forlaens_container_out{
    left: 115vw;
    top: 28vw;
}

.forlaens_container_in{
    left: 50vw;
    top: 28vw;
}


.slide_forlaens{
    animation-name: slide_forlaens;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide_forlaens{
    0%{
        left: 115vw;
        transform: scalex(1);
    }
    100%{
        left:53vw;
        transform: scalex(1);
    }
}

@keyframes slide_forlaens{
    0%{
        left: 115vw;
        transform: scalex(1);
    }
    100%{
        left: 53vw;
        transform: scalex(1);
    }
 }

#baglaens_container{
    position: absolute;
    background-image: url(bagl%C3%A6ns-01.svg);
    z-index: 10;
    background-size: 100%;
    width: 16vw;
    height: 8vw;
}

.baglaens_container_out{
    left: 105vw;
    top: 28vw;
}

.baglaens_container_in{
    left: 40vw;
    top: 28vw;
}


.slide_baglaens{
    animation-name: slide_baglaens;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes slide_baglaens{
    0%{
        left: 105vw;
        transform: scalex(1);
    }
    100%{
        left:33vw;
        transform: scalex(1);
    }
}

@keyframes slide_baglaens{
    0%{
        left: 105vw;
        transform: scalex(1);
    }
    100%{
        left: 33vw;
        transform: scalex(1);
    }
 }

#blaabil_container{
    position: absolute;
    top: 25vw;
    left: 65vw;
    z-index: 2;
}

#blaabil_sprite{
    background-image: url(bl%C3%A5bil.svg);
    background-size: 100%;
    width: 15vw;
    height: 8.2vw;
}

.drive_short{
    animation-name: drive_short;
    animation-direction: linear;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes drive_short{
    0%{
        left: 65vw;
        top:25vw;
        transform: scalex(1);
    }

    100%{
        left:18vw;
        top: 19vw;
        transform: scalex(1);
    }
}

.drive_short_in{
    animation-name: drive_short_in;
    animation-direction: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes drive_short_in{
    0%{
        left:18vw;
        top: 19vw;
        transform: scalex(1);
    }

    100%{
        left:20vw;
        top: 17vw;
        transform: scalex(1);
    }
}

.drive_long{
    animation-name: drive_long;
    animation-direction: linear;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes drive_long{
    0%{
        left: 65vw;
        transform: scalex(1);
    }

    100%{
        left: 2vw;
        transform: scalex(1);
    }
}

.driveto_1{
    animation-name: driveto_1;
    animation-direction: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes driveto_1{
    0%{
        left: 2vw;
        top: 25vw;
        transform: scalex(1);
    }

    100%{
        left: 9vw;
        top: 22vw;
        transform: scalex(1);
    }
}

.driveto_2{
    animation-name: driveto_2;
    animation-direction: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes driveto_2{
    0%{
        left: 9vw;
        top: 22vw;
        transform: scalex(1);
    }

    100%{
        left:26vw;
        top: 19vw;
        transform: scalex(1);
    }
}

.driveto_3{
    animation-name: driveto_3;
    animation-direction: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes driveto_3{
    0%{
        left:26vw;
        top: 19vw;
        transform: scalex(1);
    }

    100%{
        left: 20vw;
        top: 17vw;
        transform: scalex(1);
    }
}

#knap_1{
    position: absolute;
    background-image: url(knap-1-01.svg);
    z-index: 10;
    background-size: 100%;
    width: 7vw;
    height: 7vw;
}

.knap_1_anim{
    animation-name: knap_1_anim;
    animation-direction: linear;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes knap_1_anim{
    0%{
        left: -5vw;
        top: -5vw;
    }
    100%{
        left: 12vw;
        top: 19vw;
    }
}

#knap_2{
    position: absolute;
    background-image: url(knap-2-01.svg);
    z-index: 10;
    background-size: 100%;
    width: 7vw;
    height: 7vw;
}

.knap_2_anim{
    animation-name: knap_2_anim;
    animation-direction: linear;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes knap_2_anim{
    0%{
        left: -5vw;
        top: -5vw;
    }
    100%{
        left: 31vw;
        top: 19vw;
    }
}

#knap_3{
    position: absolute;
    background-image: url(knap-3-01.svg);
    z-index: 10;
    background-size: 100%;
    width: 7vw;
    height: 7vw;
}

.knap_3_anim{
    animation-name: knap_3_anim;
    animation-direction: linear;
    animation-duration: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes knap_3_anim{
    0%{
        left: -5vw;
        top: -5vw;
    }
    100%{
        left: 19vw;
        top: 17vw;
    }
}


